# CS529: Homework #1, Problem 2
# Exploratory Data Analysis with `pandas`

## Objectives

In this assignment, you are asked to analyze the UCI Adult data set containing demographic information about the US residents. This data was extracted from the census bureau database found at

http://www.census.gov/ftp/pub/DES/www/welcome.html

The features of data with possible values of each feature are listed below:

| Feature Name| Possible Values  |
|------|------|
| age | continuous|
| workclass| Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked|
| fnlwgt| continuous|
| education | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool|
|education_num | continuous|
|marital_status | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse|
|occupation | Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces|
|relationship | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried |
|race | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black|
|sex | Female, Male|
|capital_gain| continuous|
|capital_loss | continuous|
|hours-per-week | continuous |
|native-country | United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands |
|salary | >50K,<=50K |


Please  complete the tasks in the Jupyter notebook by answering following 8 questions.

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
 workclass
 fnlwgt
 education
 education-num
 marital-status
 occupation
 relationship
 race
 sex
 capital-gain
 capital-loss
 hours-per-week
 native-country
 salary

In [4]:
data.shape

(32561, 15)

In [5]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 0. Preprocessing - Trimming spaces in column names and data.

In [6]:
data.columns = [c.strip() for c in data.columns]
data['sex'] = [c.strip() for c in data['sex']]
data['native-country'] = [c.strip() for c in data['native-country']]
data['salary'] = [c.strip() for c in data['salary']]
data['education'] = [c.strip() for c in data['education']]

### 1. How many men and women (sex feature) are represented in this dataset?

In [29]:
men = len(data[data['sex']== 'Male'])
women = len(data[data['sex']== 'Female'])
print(f'Men = {men} - Women = {women}')

Men = 21790 - Women = 10771

### 2. What is the average age (age feature) of women?

In [15]:
women_mean_age = data[data['sex']== 'Female']['age'].mean()
print(f'Mean Age of Women = {women_mean_age:.2f}')

Mean Age of Women = 36.86

### 3. What is the percentage of German citizens (native-country feature)?

In [17]:
perc_german =100 * len(data[data['native-country'] == 'Germany'])/len(data['native-country'])
print(f"{perc_german:.2f} % of the population are German citizens")

0.42 % of the population are German citizens

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [20]:
ab50 = data[data['salary'] == '>50K']['age']
bl50 = data[data['salary'] == '<=50K']['age']
print(f"People who earn more than 50K: mean_age = {ab50.mean():.2f} - std_age = {ab50.std():.2f}")
print(f"People who earn less or equal 50K: mean_age = {bl50.mean():.2f} - std_age = {bl50.std():.2f}")

People who earn more than 50K: mean_age = 44.25 - std_age = 10.52
People who earn less or equal 50K: mean_age = 36.78 - std_age = 14.02

### 5. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [24]:
# You answer (code + results)
at_least_highschool = ['HS-grad', 'Some-college', 'Bachelors','Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
ab50 = data[data['salary'] == '>50K']
n = len(ab50[~ab50['education'].isin(at_least_highschool)])
print(f"It is NOT true, {n} people on the dataset earn more than 50K but do not have at least high school education")

It is NOT true, 244 people on the dataset earn more than 50K but do not have at least high school education

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [27]:
data.groupby(['race','sex'])['age'].describe()

                              count       mean        std   min   25%   50%  \
race                sex
 Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                    Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                    Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                    Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                    Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                    Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                              75%   max
race                sex
 Amer-Indian-Eskimo Female  46.00  80.0
                    Male    45.00  82.0
 Asian-Pac-Islander Female  43.75  75.0
                    Male    46.00  90.0
 Black              Female  46.00  90.0
                    Male    46.00  90.0
 Other              Female  39.00  74.0
                    Male    42.00  77.0
 White              Female  46.00  90.0
                    Male    49.00  90.0

In [54]:
max_amindian_age = data[np.logical_and(data['race'] == ' Amer-Indian-Eskimo', data['sex'] == 'Male')]['age'].max()
print(f'The maximum age of men of Amer-Indian-Eskimo race is {max_amindian_age}')

The maximum age of men of Amer-Indian-Eskimo race is 82

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [34]:
max_hours_per_week = data['hours-per-week'].max()
print(f"The maximum number of hours a person works per week is {max_hours_per_week}")
max_workers = data[data['hours-per-week'] == max_hours_per_week]
print(f"There are {len(maxWorkers)} people who work {max_hours_per_week} hours per week")
perc_ab50 = 100 *len(maxWorkers[maxWorkers['salary'] == '>50K'])/len(maxWorkers)
print(f"{perc_ab50:.2f}% of people who work {max_hours_per_week} hours per week earn more than 50K")

The maximum number of hours a person works per week is 99
There are 85 people who work 99 hours per week
29.41% of people who work 99 hours per week earn more than 50K

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [45]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(data.groupby(['native-country','salary'])['hours-per-week'].mean())

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64

In [57]:
avg_bl50_hours = data[np.logical_and(data['native-country'] == 'Japan', data['salary'] == '<=50K')]['hours-per-week'].mean()
avg_ab50_hours = data[np.logical_and(data['native-country'] == 'Japan', data['salary'] == '>50K')]['hours-per-week'].mean()

print(f'The average time of work in Japan for people who earn <=50K is {avg_bl50_hours:.2f} and for people who earn >50k is {avg_ab50_hours:.2f}')

The average time of work in Japan for people who earn <=50K is 41.00 and for people who earn >50k is 47.96